<!doctype html>
<meta charset="utf-8">
<title>GraceDb Passthrough Test</title>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endwith %}
</div>
<form method=post>
    <input type=submit>
</form>
